<a href="https://colab.research.google.com/github/HagosGithub/FreeCodeCamp-Pandas-Real-Life-Example/blob/master/demographic_data_analyzer_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# Import the data
url = 'https://raw.githubusercontent.com/JakubPyt/Demographic_Data_Analyzer/main/adult.data.csv'
df= pd.read_csv(url,delimiter=';')
df.head()
df.tail()


# Display first five rows of dataset

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [3]:
race_count=df.race.value_counts()
print(race_count)

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [4]:
age_man = round(df[df['sex'] == 'Male'] ["age"].mean())
print("Average Age of Man:",age_man)

Average Age of Man: 39

##percentage people who have BA Degree

In [5]:
Pab=len(df[df['education']=='Bachelors'])
pp=round(Pab/ len(df)*100)
print("percentage:" ,pp)

percentage: 16

percentage of peoples who have Advanced Degree(BA,Masters,PHD)

In [6]:
adv= len(df[(df['education'].isin(["Bachelors", "Masters", "Doctorate"]))
                                  & (df['salary'] == ">50K")])

percentage = round((adv / len(df)) * 100)

print("percentage of BA,MA,PHD:",percentage)

percentage of BA,MA,PHD: 11

##Percentage of People who donot have advanced education

In [7]:
nae = len(df[~df['education'].isin(["Bachelors", "Masters", "Doctorate"])])
naeincome = len(df[(~df['education'].isin(["Bachelors", "Masters", "Doctorate"])) & (df['salary'] == ">50K")])

percentageofnae = round((naeincome / nae) * 100)

print(percentageofnae)

17

###Minumam working hours/weeks

In [ ]:
print("Miumam Working Hourse:",df['hours-per-week'].min())

Miumam Working Hourse: 1

#min. work hours/week (>50k salary)

In [ ]:
min_hours_workers = len(df[df['hours-per-week'] == df['hours-per-week'].min()])
min_hours_income = len(df[(df['hours-per-week'] == df['hours-per-week'].min()) & (df['salary'] == '>50K')])

percentage_min_hours = (min_hours_income / min_hours_workers) * 100

print("Minumam workig hours>50k salary:",percentage_min_hours)

Minumam workig hours>50k salary: 10.0

##Highest workig Hourses >50k Salary

In [8]:
high_income_country = (df[df['salary'] == '>50K']['native-country'].value_counts() / df['native-country'].value_counts()) * 100

country_high_income = high_income_country.idxmax()
percentage_workers = round(high_income_country.max())

print(f"The country is {country_high_income}")
print(f"The percentage is {percentage_workers:.2f}%")

The country is Iran
The percentage is 42.00%

##Most popular occuption in India (earn>50k)

In [9]:
hi_occupation = df[(df['salary'] == '>50K') & (df['native-country'] == 'India')]['occupation']
most_popular_occ = hi_occupation.value_counts().idxmax()

print("most popular occupation in indian:",most_popular_occ)

most popular occupation in indian: Prof-specialty

#Using Functions

In [24]:
def calculate_Demographic_DataAalysis(print_data=True):
  url = 'https://raw.githubusercontent.com/JakubPyt/Demographic_Data_Analyzer/main/adult.data.csv'
  df= pd.read_csv(url,delimiter=';')
  df.head()
  df.tail()
  print("===First Question===")
  race_count=df.race.value_counts()
  print(race_count)
  print("===Second Question===")
  age_man = round(df[df['sex'] == 'Male'] ["age"].mean())
  print("Average Age of Man:",age_man)
  print("===Third Question===")
  Pab=len(df[df['education']=='Bachelors'])
  pp=round(Pab/ len(df)*100)
  print("percentage:" ,pp)
  print("===Fourth Question===")
  adv= len(df[(df['education'].isin(["Bachelors", "Masters", "Doctorate"]))
                                  & (df['salary'] == ">50K")])
  percentage = round((adv / len(df)) * 100)
  print("percentage of BA,MA,PHD:",percentage)
  print("===Fifth Question===")
  nae = len(df[~df['education'].isin(["Bachelors", "Masters", "Doctorate"])])
  naeincome = len(df[(~df['education'].isin(["Bachelors", "Masters", "Doctorate"])) & (df['salary'] == ">50K")])
  percentageofnae = round((naeincome / nae) * 100)
  print(percentageofnae)
  print("===Sixth Question===")
  print("Miumam Working Hourse:",df['hours-per-week'].min())
  print("===Seventh Question===")
  min_hours_workers = len(df[df['hours-per-week'] == df['hours-per-week'].min()])
  min_hours_income = len(df[(df['hours-per-week'] == df['hours-per-week'].min()) & (df['salary'] == '>50K')])
  percentage_min_hours = (min_hours_income / min_hours_workers) * 100
  print("Minumam workig hours>50k salary:",percentage_min_hours)
  print("===Eighth Question===")

  high_income_country = (df[df['salary'] == '>50K']['native-country'].value_counts() / df['native-country'].value_counts()) * 100
  country_high_income = high_income_country.idxmax()
  percentage_workers = round(high_income_country.max())
  print(f"The country is {country_high_income}")
  print(f"The percentage is {percentage_workers:.2f}%")
  print("===Ninth Question===")
  hi_occupation = df[(df['salary'] == '>50K') & (df['native-country'] == 'India')]['occupation']
  most_popular_occ = hi_occupation.value_counts().idxmax()
  print("most popular occupation in indian:",most_popular_occ)

  return 0
calculate_Demographic_DataAalysis(False)

===First Question===
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64
===Second Question===
Average Age of Man: 39
===Third Question===
percentage: 16
===Fourth Question===
percentage of BA,MA,PHD: 11
===Fifth Question===
17
===Sixth Question===
Miumam Working Hourse: 1
===Seventh Question===
Minumam workig hours>50k salary: 10.0
===Eighth Question===
The country is Iran
The percentage is 42.00%
===Ninth Question===
most popular occupation in indian: Prof-specialty

0

#Testing

In [26]:
import unittest

In [29]:
class DemographicAnalyzerTestCase(unittest.TestCase):
    def setUp(self):
        self.data = calculate_Demographic_DataAalysis(print_data=False)

    def test_race_count(self):
        actual = self.data["race_count"].tolist()
        expected = [27816, 3124, 1039, 311, 271]
        self.assertAlmostEqual(
            actual,
            expected,
            msg="Expected race count values to be [27816, 3124, 1039, 311, 271]",
        )

    def test_average_age_men(self):
        actual = self.data["age_men"]
        expected = 39
        self.assertAlmostEqual(
            actual,
            expected,
            msg="Expected different value for average age of men.",
        )

    def test_percentage_bachelors(self):
        actual = self.data["percentage_bachelors"]
        expected = 16
        self.assertAlmostEqual(
            actual,
            expected,
            msg="Expected different value for percentage with Bachelors degrees.",
        )

    def test_higher_education_rich(self):
        actual = self.data["higher_education_rich"]
        expected = 46.5
        self.assertAlmostEqual(
            actual,
            expected,
            msg="Expected different value for percentage with higher education that earn >50K.",
        )

    def test_lower_education_rich(self):
        actual = self.data["lower_education_rich"]
        expected = 17
        self.assertAlmostEqual(
            actual,
            expected,
            msg="Expected different value for percentage without higher education that earn >50K.",
        )

    def test_min_work_hours(self):
        actual = self.data["min_work_hours"]
        expected = 1
        self.assertAlmostEqual(
            actual,
            expected,
            msg="Expected different value for minimum work hours.",
        )

    def test_rich_percentage(self):
        actual = self.data["rich_percentage"]
        expected = 10
        self.assertAlmostEqual(
            actual,
            expected,
            msg="Expected different value for percentage of rich among those who work fewest hours.",
        )

    def test_highest_earning_country(self):
        actual = self.data["highest_earning_country"]
        expected = "Iran"
        self.assertEqual(
            actual,
            expected,
            "Expected different value for highest earning country.",
        )

    def test_highest_earning_country_percentage(self):
        actual = self.data["highest_earning_country_percentage"]
        expected = 42
        self.assertAlmostEqual(
            actual,
            expected,
            msg="Expected different value for heighest earning country percentage.",
        )

    def test_top_IN_occupation(self):
        actual = self.data["top_IN_occupation"]
        expected = "Prof-specialty"
        self.assertEqual(
            actual,
            expected,
            "Expected different value for top occupations in India.",
        )

In [30]:
if __name__ == "__main__":
    unittest.main(argv=["first-arg-is-ignored"], exit=False)

E

===First Question===
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64
===Second Question===
Average Age of Man: 39
===Third Question===
percentage: 16
===Fourth Question===
percentage of BA,MA,PHD: 11
===Fifth Question===
17
===Sixth Question===
Miumam Working Hourse: 1
===Seventh Question===
Minumam workig hours>50k salary: 10.0
===Eighth Question===
The country is Iran
The percentage is 42.00%
===Ninth Question===
most popular occupation in indian: Prof-specialty
===First Question===
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64
===Second Question===
Average Age of Man: 39
===Third Question===
percentage: 16
===Fourth Question===
percentage of BA,MA,PHD: 11
===Fifth Question===

EE

17
===Sixth Question===
Miumam Working Hourse: 1
===Seventh Question===
Minumam workig hours>50k salary: 10.0
===Eighth Question===
The country is Iran
The percentage is 42.00%
===Ninth Question===
most popular occupation in indian: Prof-specialty
===First Question===
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64
===Second Question===
Average Age of Man: 39
===Third Question===
percentage: 16
===Fourth Question===
percentage of BA,MA,PHD: 11
===Fifth Question===
17
===Sixth Question===
Miumam Working Hourse: 1
===Seventh Question===
Minumam workig hours>50k salary: 10.0
===Eighth Question===
The country is Iran
The percentage is 42.00%
===Ninth Question===
most popular occupation in indian: Prof-specialty

E

===First Question===
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64
===Second Question===
Average Age of Man: 39
===Third Question===
percentage: 16
===Fourth Question===
percentage of BA,MA,PHD: 11
===Fifth Question===
17
===Sixth Question===
Miumam Working Hourse: 1
===Seventh Question===
Minumam workig hours>50k salary: 10.0
===Eighth Question===
The country is Iran
The percentage is 42.00%
===Ninth Question===
most popular occupation in indian: Prof-specialty
===First Question===
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64
===Second Question===
Average Age of Man: 39
===Third Question===
percentage: 16
===Fourth Question===
percentage of BA,MA,PHD: 11
===Fifth Question===
17
===Sixth Question===
Miumam Working Hourse: 1
===Seventh Question===

EE

Minumam workig hours>50k salary: 10.0
===Eighth Question===
The country is Iran
The percentage is 42.00%
===Ninth Question===
most popular occupation in indian: Prof-specialty
===First Question===
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64
===Second Question===
Average Age of Man: 39
===Third Question===
percentage: 16
===Fourth Question===
percentage of BA,MA,PHD: 11
===Fifth Question===
17
===Sixth Question===
Miumam Working Hourse: 1
===Seventh Question===
Minumam workig hours>50k salary: 10.0
===Eighth Question===
The country is Iran
The percentage is 42.00%
===Ninth Question===
most popular occupation in indian: Prof-specialty

E

===First Question===
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64
===Second Question===
Average Age of Man: 39
===Third Question===
percentage: 16
===Fourth Question===
percentage of BA,MA,PHD: 11
===Fifth Question===
17
===Sixth Question===
Miumam Working Hourse: 1
===Seventh Question===
Minumam workig hours>50k salary: 10.0
===Eighth Question===
The country is Iran
The percentage is 42.00%
===Ninth Question===
most popular occupation in indian: Prof-specialty
===First Question===
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64
===Second Question===
Average Age of Man: 39
===Third Question===
percentage: 16
===Fourth Question===
percentage of BA,MA,PHD: 11
===Fifth Question===
17
===Sixth Question===
Miumam Working Hourse: 1
===Seventh Question===
Minumam workig hours>50k salary: 10.0
===Eighth Question===

EE

The country is Iran
The percentage is 42.00%
===Ninth Question===
most popular occupation in indian: Prof-specialty
===First Question===
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64
===Second Question===
Average Age of Man: 39
===Third Question===
percentage: 16
===Fourth Question===
percentage of BA,MA,PHD: 11
===Fifth Question===
17
===Sixth Question===
Miumam Working Hourse: 1
===Seventh Question===
Minumam workig hours>50k salary: 10.0
===Eighth Question===
The country is Iran
The percentage is 42.00%
===Ninth Question===
most popular occupation in indian: Prof-specialty

E
======================================================================
ERROR: test_average_age_men (__main__.DemographicAnalyzerTestCase)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-29-231cb9eaaef7>", line 15, in test_average_age_men
    actual = self.data["age_men"]
TypeError: 'int' object is not subscriptable

======================================================================
ERROR: test_higher_education_rich (__main__.DemographicAnalyzerTestCase)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-29-231cb9eaaef7>", line 33, in test_higher_education_rich
    actual = self.data["higher_education_rich"]
TypeError: 'int' object is not subscriptable

======================================================================
ERROR: test_highest_earning_country (__main__.DemographicAnalyzerTestCase)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-29-231cb9eaaef7>", line 69, in test_highest_earning_country
    actual = self.data["highest_earning_country"]
TypeError: 'int' object is not subscriptable

======================================================================
ERROR: test_highest_earning_country_percentage (__main__.DemographicAnalyzerTestCase)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-29-231cb9eaaef7>", line 78, in test_highest_earning_country_percentage
    actual = self.data["highest_earning_country_percentage"]
TypeError: 'int' object is not subscriptable

======================================================================
ERROR: test_lower_education_rich (__main__.DemographicAnalyzerTestCase)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-29-231cb9eaaef7>", line 42, in test_lower_education_rich
    actual = self.data["lower_education_rich"]
TypeError: 'int' object is not subscriptable

======================================================================
ERROR: test_min_work_hours (__main__.DemographicAnalyzerTestCase)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-29-231cb9eaaef7>", line 51, in test_min_work_hours
    actual = self.data["min_work_hours"]
TypeError: 'int' object is not subscriptable

======================================================================
ERROR: test_percentage_bachelors (__main__.DemographicAnalyzerTestCase)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-29-231cb9eaaef7>", line 24, in test_percentage_bachelors
    actual = self.data["percentage_bachelors"]
TypeError: 'int' object is not subscriptable

======================================================================
ERROR: test_race_count (__main__.DemographicAnalyzerTestCase)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-29-231cb9eaaef7>", line 6, in test_race_count
    actual = self.data["race_count"].tolist()
TypeError: 'int' object is not subscriptable

======================================================================
ERROR: test_rich_percentage (__main__.DemographicAnalyzerTestCase)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-29-231cb9eaaef7>", line 60, in test_rich_percentage
    actual = self.data["rich_percentage"]
TypeError: 'int' object is not subscriptable

======================================================================
ERROR: test_top_IN_occupation (__main__.DemographicAnalyzerTestCase)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-29-231cb9eaaef7>", line 87, in test_top_IN_occupation
    actual = self.data["top_IN_occupation"]
TypeError: 'int' object is not subscriptable

----------------------------------------------------------------------
Ran 10 tests in 1.829s

FAILED (errors=10)

===First Question===
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64
===Second Question===
Average Age of Man: 39
===Third Question===
percentage: 16
===Fourth Question===
percentage of BA,MA,PHD: 11
===Fifth Question===
17
===Sixth Question===
Miumam Working Hourse: 1
===Seventh Question===
Minumam workig hours>50k salary: 10.0
===Eighth Question===
The country is Iran
The percentage is 42.00%
===Ninth Question===
most popular occupation in indian: Prof-specialty